<form class="outer-box" #userForm="ngForm" (ngSubmit)="doLogin()">

  <div class="main-div">
    <div class="login-page-heading">
      Login School Admin
    </div>

    <div class="form-element">
      <input
        type="text"
        [(ngModel)]="adminModel.name"
        placeholder="User Name"
        #userName="ngModel"
        required
        name="name"
      />
    </div>
    <div>hint: Admin</div>
    <div class="form-element">
      <input
        type="password"
        [(ngModel)]="adminModel.password"
        placeholder="Password"
        #password="ngModel"
        name="password"
        required
      />
    </div>
    <div>hint: admin</div>
    <button class="login-button" type="submit" [disabled]="!userForm.valid" >Login</button>
    <button class="reset-button" type="reset" [disabled]="userName.invalid && password.invalid">Reset</button>
  </div>
</form>
<router-outlet></router-outlet>
