<div class="student-display-component" *ngIf="students">
  <div class="filters">
    <div class="drop-down">
      <select id="categoryDropDown" name="categoryDropDown" style="margin-top: 10px" [(ngModel)]='category'>
        <option value="All">All</option>
        <option *ngFor="let cat of categories"
                [ngValue]="cat.type">{{ cat.type }}</option>
      </select>

    </div>
    <div class="search-box">
      <input style="margin-top: 10px" type="text" placeholder="Search Student" [(ngModel)]='searchString'>
    </div>
  </div>

  <br>

  <div *ngIf="(students | studentfilter: searchString).length == 0">
    <h3>No students found.</h3>
  </div>


  <div class="student-list" *ngIf="(students | studentfilter: searchString : category).length != 0">
    <div class="student-block" *ngFor="let student of students | studentfilter: searchString : category">
      <div class="student-name">{{student.name}}</div>
      <div class="student-category">{{student.category}}</div>
      <div>
        <button class="edit-button" [routerLink]="['/portal/onBoardForm']" [queryParams]="{id: student.identifier, edit: true}">Edit</button>
        <button class="view-button" [routerLink]="['/portal/onBoardForm']" [queryParams]="{id: student.identifier, edit: false}">View</button>
        <button class="delete-button" (click)="deleteStudent(student.identifier)">Delete</button>
      </div>

    </div>
    <br>
  </div>
</div>
