.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

.search-box {
  height: 30px;
  width: 30%;
}

.drop-down {
  height: 36px;
  width: 30%;
}

input{
  width: 100%;
  height: 100%;
}

select{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.student-block {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 30%;
  margin-top: 7px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  height: 120px;
  padding-top: 2%;
}

.student-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  overflow-y: scroll;
  height: 85%;
}

.student-display-component {
  height: 100%;
}

button {
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin: 8px 0 8px 2px;
  height: 2px;
  text-align: center;
  line-height: 2px;
}

button:hover {
  opacity: 0.8;
}

.student-name, .student-category {
  text-align: center;
}

.student-name {
  text-align: center;
  font-weight: bold;
}

.student-category {
  text-align: center;
  font-style: bold;
}

.edit-button {
  background-color: #4CAF50;
}

.view-button {
  background-color: #A0A0A0;
}

.delete-button {
  background-color: #FF0000;
}
