<div class="outer-box">
  <div class="header">
    <div class="heading"><h2>On Boarding App</h2></div>
    <div class="admin-name"><h2>{{userName}}</h2></div>
  </div>

  <hr>

  <div class="content">
    <div class="navigation-button">
      <button [routerLink]="['onBoardForm']" routerLinkActive="active" ngDefaultControl>Onboarding Form</button>
      <button [routerLink]="['/portal/view']" routerLinkActive="active">List Students</button>
    </div>

  </div>

  <div class="routed-component">
    <router-outlet></router-outlet>
  </div>
</div>


