.outer-box {
  width: 95vw;
  height: 90vh;
  border: 2px solid black;
  /*padding: 50px;*/
  margin: 20px;
  text-align: center;
  display: inline-block;
}

.heading {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.admin-name {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.header {
  height: 15%;
}

.content {
  height: 10%;
}

.routed-component {
  height: 70%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin: 8px 0 8px 2px;
  display: inline-block;
}

.navigation-button {
  display: inline-block;
  width: 100%;
  text-align: left;
}

